@import 'utils/variables';

.pageTitle {
  color: $title-color;
  margin: 0.4rem 0 0.9rem 0;
}

.vspace {
  height: 0.4rem;
}

.vspace2 {
  height: 0.8rem;
}

.vspace3 {
  height: 1.2rem;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.ulist {
  padding-left: 1.8rem;
}

.alertTitle {
  color: #bb3385;
}

.textOlive {
  color: olive;
}
